[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "==2.*"
absl-py = ">=0.7.0"
numpy = "*"
importlib-resources = {version = "*", markers="python_version < '3.7'"}

# Optional packages
# yaml = "*"        # for serialization and deserialization of models from YAML
